body {
    background-image: url("cartiBackground.jpg");
}

input[type="submit"]{
    background-color: #e2dcd5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    color: black;
    font-family: 'Times New Roman';
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

input[type="submit"]:hover {
    border: none;
    background: #e8aa8c;
    box-shadow: 0px 0px 1px #777;
}